<%
    let location = job.location ? job.location : "";
    let title = job.title ? job.title : "";
    let startDate = job.startDate ? job.startDate._seconds : 0;
    let endDate = job.endDate ? job.endDate._seconds : 0;
    let comments = job.comments ? job.comments : "";
%>
<li><%= location %> - <%= title %></li>