#login {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

#login input, #login label {
    width: 95%;
    margin: .5em auto;
    display: block;
}

#login button {
    margin: 0 auto;
    display: block;
}