.portfolio-card{
    width: 80%;
    margin: auto;
    background-color: $medium;
    color: $white;
    padding: 0.33em;
    border-radius: 5px;
    margin-bottom: 1em;

    h2 {
        color: $accent-light;
        text-align: center;
        border-bottom: 3px solid $white;
        padding: 0.5em;
        font-size: 2em;
        margin: 0;
    }

    .links{
        text-align: center;

        a:link,
        a:visited {
            color: $accent-light;
        }
    }
}