@import "../app/colors.scss";
@import "../app/responsive.scss";

.resume-card-list{
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.resume-card {
    max-width: 300px;
    display: flex;
    flex-flow: row wrap;
    background-color: $medium;
    list-style-type: none;
    color: $white;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 0.5em;

    .resume-title {
        color: $accent-light;
        font-size: 1.25em;
        margin: 0;
        flex: 1;
    }

    .resume-date {
        margin: 0;
        text-align: right;
    }

    .resume-sub-title,
    .resume-comments {
        width: 100%;
        margin: 0;
    }

    .resume-comments {
        border-top: 3px solid $white;
    }
}

@media (min-width: 850px){
    .resume-card {
        max-width: 400px;
        width: 400px;
    }
}

