<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include("../templates/header.ejs", {title: 'Alex Malotky'}) %>
    <body>
        <%- include("../templates/navbar.ejs") %>
        <main id="main">
            <h1>Welcome to AlexMalotky.com</h1>
            <article class="about">
                <h2>About Me</h2>
                <p>
                    blah blah blah blah blah
                </p>
                <figure>
                    <img src="/media/face.jpg" alt="Face" />
                </figure>
            </article>
            <article class="about">
                <h2>A Little More About Something</h2>
                <p>
                    Hello World!
                </p>
                <figure>
                    <img src="/media/face.jpg" alt="Face" />
                </figure>
            </article>
        </main>
        <%- include("../templates/footer.ejs") %>
    </body>
</html>
