@import "@/template/styles/colors.scss";
@import "@/template/styles/breakpoints.scss";

#home-container{
    animated-text, p {
        padding: 0 0.5em;
    }
}

animated-text {
    display: block;
    white-space: pre;
    color: $accent-dark;
}

#spotlight {
    padding: 0.25em;
    border: 3px solid $accent-dark; 
    display: flex;
    flex-flow: row-reverse wrap;

    h3 {
        text-align: center;
        width: 100%;
    }

    figure {
        text-align: center;
        width: 100%;
    }

    @media(min-width: $tablet) {
        section {
            width: 70%;
        }

        figure{
            margin: 0;
            width: 30%;
        }
    }
}