@import "../../styles/colors.scss";

#blog-post-form {
    display: flex;
    flex-direction: column;
    height: 80vh;

    .row {
        display: flex;
        justify-content: center;
    }

    .main {
        flex-grow: 1;
        overflow: hidden;
    }

    label{
        padding: 0.2em;

        input, textarea {
            width: 100%;
        }

        textarea, #content-preview {
            resize: none;
            height: 90%;
            overflow-y: scroll;
        };
    }

    .post-title {
        width: 80%;
    }

    .post-date {
        width: 20%;
    }

    .post-content, .content-preview{
        width: 50%;
    }
}

#post-date {
    text-align: right;
    width: 20%;
}

#post-list {
    padding: 0;

    li {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        margin: 0 auto;
        margin-bottom: .5em;
        border-radius: 5px;
        padding: .25em;
        background-color: $medium;
        color: $white;

        h2 {
            flex-grow: 1;
            color: $accent-light;
            padding-left: 0.5em;
        }

        p {
            padding-right: 0.5em;
        }

        mark-down {
            width: 100%;
            color: $dark;
            background-color: $white;
        }
    }
}