<a href="#main" class="hidden">Skip Link</a>
<header>
    <nav id="top-nav-bar">
        <a id="top-nav-title" class="top-nav-item" href="/">AlexMalotky.com</a>
        <button id="top-nav-button">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <ul id="top-nav-menu">
            <li>
                <a class="top-nav-item" href="/Resume">Resume</a>
            </li>
            <li>
                <a class="top-nav-item" href="/Blog">Blog</a>
            </li>
            <li>
                <a class="top-nav-item" href="/Portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
</header>
