{%
    name = name.replace("//", "<br>&nbsp;&nbsp;");

    if(typeof image === "undefined")
        image = [];

    let double = "";
    if(image.length > 1) {
        double = "class='doubleFace'";
    }

    if(typeof typeLine === "undefined")
        typeLine = "Type Line";

    if(typeof oracle === "undefined")
        oracle = "Oracle Text";

    if(typeof foil === "undefined" || foil === false) {
        foil = "";
    } else {
        foil = '<div class="foil"></div>';
    }
%}
<li class="card">
    <span class="name">{{ count }} {{ name }}</span>
    <span>
        <figure {{ double }}>
            <div class="figure">
                {% if(image.length === 0){ %}
                    <div class="oracle">
                        <p>{{ typeLine }}</p>
                        <p>{{ oracle }}</p>
                    </div>
                {% } else { for(let side in image){ %}
                    <img src="{{ image[side] }}" alt="{{ name }} {{ side }}">
                {% }} %}
            </div>
            {{ foil }}
        </figure>
    </span>
</li>