@import "normalize.scss";

/*! Alex Malotky.com */
@import "app/colors.scss";
@import "app/responsive.scss";
@import "app/navbar.scss";

*{
    box-sizing: border-box;
}

.skip {
    position: absolute;
    left: -999px;

    &:focus {
        top: auto;
        left: auto;
        right: 1px;
        z-index: 1;
    }
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

main {
    padding: 0 .2em;
    transition: opacity 500ms;
}

h1{
    text-align: center;
}

.error{
    color: red !important;
}

footer{
    text-align: center;
    
    .icon{
        width: 1.5em;
        height: auto;
    }
}

.autocomplete-list{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;

    div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

    div:hover {
        background-color: #e9e9e9; 
    }

    .active {
        background-color: DodgerBlue !important;
        color: #ffffff; 
    }
}

@import "views/resume.scss";
@import "views/portfolio.scss";
@import "views/home.scss";
@import "views/login.scss";
@import "views/mtg.scss";