/*! Alex Malotky.com */
@import "normalize.scss";
@import "app/navbar.scss";
@import "views/resume.scss";
@import "views/portfolio.scss";

.skip {
    position: absolute;
    left: -999px;

    &:focus {
        top: auto;
        left: auto;
        right: 1px;
        z-index: 1;
    }
}

header {
    position: sticky;
    width: 100%;
    top: 0;
}

main {
    padding: 0 .2em;
}

h1{
    text-align: center;
}

.error{
    color: red !important;
}

footer{
    text-align: center;
    
    .icon{
        width: 1.5em;
        height: auto;
    }
}