@import "colorscheme.scss";
@import "responsive.scss";

%force-flex {
    display: flex !important;
}

#top-nav-bar {
    background-color: $dark;
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    font-size: 1.5em;
}

#top-nav-title {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    color: $accent-light;
    text-decoration: none;
    font-size: 1.5em;
}

#top-nav-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    flex-grow: 1;
    display: flex;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 100%;
        text-align: center;
    }
}

.top-nav-item {
    padding: 0.5em;

    &:link,
    &:visited {
        text-decoration: none;
        color: $white;
    }

    &:hover,
    &:focus {
        background-color: $medium;
    }
}

#top-nav-button {
    background-color: $dark;
    border: none;
    flex-grow: 0;
    padding-left: 36px;
    display: none;

    div {
        width: 35px;
        height: 5px;
        background-color: $white;
        margin: 6px;
    }
}

@media (max-width: $laptop) {
    #top-nav-button {
        display: inline;

        &:hover + #top-nav-menu,
        &:focus + #top-nav-menu {
            display: flex;
        }
    }

    #top-nav-bar {
        justify-content: space-between;

        &:hover + #top-nav-menu,
        &:focus + #top-nav-menu {
            display: flex;
        }
    }
    

    #top-nav-menu {
        flex-basis: 100%;
        display: none;
        padding-bottom: 10px;

        &:hover, &:focus {
            display: flex;
        }
    }
}