.pokemon-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;

    pokemon-element {
        width: 33%;
        min-width: 300px;
        max-width: 400px;
        padding: 0.5em 0.3em;
        display: flex;
        flex-flow: row wrap;
        border: $accent-dark solid 2px;
        border-radius: 5px;
        margin-bottom: 0.5em;

        ul, ol {
            margin-bottom: 0;
        }

        .pokemon-title {
            font-size: 1.25rem;
            margin: 0 0.5em;
        }

        .pokemon-type-item {
             border-style: solid;
             border-width: 2px;
             border-radius: 5px;
             padding: 0.2em;
             color: #F8F8F8;
        }

        .bug      { background-color: #A8B820; border-color: #A8B820; text-shadow: 0 0 2px #A8B820;}
        .dark     { background-color: #705848; border-color: #484038; text-shadow: 0 0 2px #484038;}
        .dragon   { background-color: #7038F8; border-color: #483890; text-shadow: 0 0 2px #483890;}
        .electric { background-color: #F8D030; border-color: #B8A038; text-shadow: 0 0 2px #B8A038;}
        .fighting { background-color: #C03028; border-color: #484038; text-shadow: 0 0 2px #484038;}
        .fairy    { background-color: #F0B6BC; border-color: #905F63; text-shadow: 0 0 2px #905F63;}
        .fire     { background-color: #F08030; border-color: #C03028; text-shadow: 0 0 2px #C03028;}
        .flying   { background-color: #A890F0; border-color: #705898; text-shadow: 0 0 2px #705898;}
        .ghost    { background-color: #705898; border-color: #483850; text-shadow: 0 0 2px #483850;}
        .grass    { background-color: #78C850; border-color: #588040; text-shadow: 0 0 2px #588040;}
        .ground   { background-color: #E0C068; border-color: #886830; text-shadow: 0 0 2px #886830;}
        .normal   { background-color: #A8A878; border-color: #705848; text-shadow: 0 0 2px #705848;}
        .ice      { background-color: #98D8D8; border-color: #9090A0; text-shadow: 0 0 2px #9090A0;}
        .poison   { background-color: #A040A0; border-color: #483850; text-shadow: 0 0 2px #483850;}
        .psychic  { background-color: #F85888; border-color: #c02862; text-shadow: 0 0 2px #789010;}
        .rock     { background-color: #B8A038; border-color: #886830; text-shadow: 0 0 2px #886830;}
        .steel    { background-color: #B8B8D0; border-color: #807870; text-shadow: 0 0 2px #807870;}
        .water    { background-color: #6890F0; border-color: #3228c0; text-shadow: 0 0 2px #3228c0;}

        .pokemon-title {
            width: 100%;
            text-align: center;

            .pokmeon-gender {
                font-weight: bold;
            }
        }

        .pokemon-level {
            width: 50%;
            text-align: right;
            margin: 0;
            margin-bottom: 5px;
            padding-top: .5em;
        }

        .pokemon-types-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 50%;
            margin: 0;
            margin-bottom: 5px;
            padding: 0;

            li {
                list-style: none;
                height: 1.75em;
            }
        }

        .pokemon-image {
            width: 48%;
            margin: 0;
            padding: 0.2rem;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;

            figcaption {
                width: 100%;
                text-align: center;
            }
        }

        .pokemon-stats-list {
            width: 48%;
            padding: 0;
            margin-left: 4%;

            .pokemon-stat-item {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

            }
        }

        .pokmeon-moves-list {
            width: 100%;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            border: black 0.5px solid;
            border-radius: 5px;

            li {
                list-style: none;
                width: 50%;
                text-align: center;
                border: black 0.5px solid;
            }
        }

        .pokemon-move-info {
            position: absolute;
            display: flex;
            flex-flow: row wrap;
            padding: 0.5em;
            background-color: $white;
            border: black 0.5px solid;
            border-radius: 5px;
            max-width: 150px;

            > span {
                width: 50%;
            }

            > div {
                width: 70%;
                display: flex;
                justify-content: space-between;
                margin: 0 15%;
            }

            > p {
                margin: 0;
            }

            figure {
                display: flex;
                height: 3ch;
                width: 50%;
                margin: 0;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }

        .pokmeon-optional-list {
            width: 100%;
            margin-left: 20px;
            border: 2px black solid;
            border-radius: 5px;
            margin-right: 20px;
            padding: 0.2rem;

            li {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;

                .pokemon-optional-name {
                    flex-grow: 1;
                }
            }
        }
    }
}

pokemon-game-element {
    display: flex;
    flex-flow: row wrap;

    .game-name, .game-info {
        width: 100%;
    }

    game-team-view, .game-comments {
        width: 100%;
    }
}

#pokemon-game-view {
    width: 100%;
}

.pokemon-game-select {
    padding: 0;
    width: 100%;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    > ul {
        display: flex;
        flex-wrap: wrap; 

        li {
            list-style: none;
        }

        > li {
            min-width: 125px;
            flex: 1 1 0;

            ul {
                display: none;
            }

            &:hover > ul,
            &:focus-within > ul{
                display: block;
            }
        }
    }

    button {
        width: 100%;
    }
}