@import "@/template/styles/colors.scss";

@mixin pokemon-list-item {
    width: 33%;
    min-width: 300px;
    max-width: 400px;
    padding: 0.5em 0.3em;
    display: flex;
    flex-flow: row wrap;
    border: $accent-dark solid 2px;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.pokemon-type-item {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0.2em;
    color: #F8F8F8;
    display: inline-block;

    &.bug      { background-color: #A8B820; border-color: #A8B820; text-shadow: 0 0 2px #A8B820;}
    &.dark     { background-color: #705848; border-color: #484038; text-shadow: 0 0 2px #484038;}
    &.dragon   { background-color: #7038F8; border-color: #483890; text-shadow: 0 0 2px #483890;}
    &.electric { background-color: #F8D030; border-color: #B8A038; text-shadow: 0 0 2px #B8A038;}
    &.fighting { background-color: #C03028; border-color: #484038; text-shadow: 0 0 2px #484038;}
    &.fairy    { background-color: #F0B6BC; border-color: #905F63; text-shadow: 0 0 2px #905F63;}
    &.fire     { background-color: #F08030; border-color: #C03028; text-shadow: 0 0 2px #C03028;}
    &.flying   { background-color: #A890F0; border-color: #705898; text-shadow: 0 0 2px #705898;}
    &.ghost    { background-color: #705898; border-color: #483850; text-shadow: 0 0 2px #483850;}
    &.grass    { background-color: #78C850; border-color: #588040; text-shadow: 0 0 2px #588040;}
    &.ground   { background-color: #E0C068; border-color: #886830; text-shadow: 0 0 2px #886830;}
    &.normal   { background-color: #A8A878; border-color: #705848; text-shadow: 0 0 2px #705848;}
    &.ice      { background-color: #98D8D8; border-color: #9090A0; text-shadow: 0 0 2px #9090A0;}
    &.poison   { background-color: #A040A0; border-color: #483850; text-shadow: 0 0 2px #483850;}
    &.psychic  { background-color: #F85888; border-color: #c02862; text-shadow: 0 0 2px #789010;}
    &.rock     { background-color: #B8A038; border-color: #886830; text-shadow: 0 0 2px #886830;}
    &.steel    { background-color: #B8B8D0; border-color: #807870; text-shadow: 0 0 2px #807870;}
    &.water    { background-color: #6890F0; border-color: #3228c0; text-shadow: 0 0 2px #3228c0;}
    &.steller {
        background: conic-gradient(
            hsl(360 100% 50%),
            hsl(315 100% 50%),
            hsl(270 100% 50%),
            hsl(225 100% 50%),
            hsl(180 100% 50%),
            hsl(135 100% 50%),
            hsl(90 100% 50%),
            hsl(45 100% 50%),
            hsl(0 100% 50%)
        );
        border-color: #AAAAAA; text-shadow:
        0 0 4px #111111;
    }
}

.pokemon-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    height: 0;
    overflow: hidden;

    pokemon-input {
        @include pokemon-list-item;

        .pokemon-title {
            flex-grow: 1;
            width: 100%;
        }

        .pokemon-sprite-input, .pokemon-image,
        .pokemon-level, .pokemon-types-list {
            width: 50%;
            padding: 0;
            margin: 0;
        }

        .sprite-input-item {
            display: flex;
            flex-flow: row wrap;

            & > * {
                width: 100%;
            }

            &.radio > * {
                width: 50%;
            }
        }

        .pokemon-types-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .pokemon-stats-list {
            list-style: none;
            padding: 0;
            width: 50%;

            li {
                display: flex;
                flex-flow: row nowrap;

                span {
                    width: 50%;
                }
            }
        }

        .pokemon-moves-list {
            width: 50%;

            .move-header {
                margin-top: 0;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .new-pokemon {
        @include pokemon-list-item;
    }

    .pokemon {
        @include pokemon-list-item;

        tool-tip-text {
            border-color: black;
        }

        ul, ol {
            margin-bottom: 0;
        }

        .pokemon-title {
            font-size: 1.25rem;
            margin: 0 0.5em;
        }

        

        .pokemon-title {
            width: 100%;
            text-align: center;

            .pokmeon-gender {
                font-weight: bold;
            }
        }

        .pokemon-level {
            width: 50%;
            text-align: right;
            margin: 0;
            margin-bottom: 5px;
            padding-top: .5em;
        }

        .pokemon-types-list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            width: 50%;
            margin: 0;
            margin-bottom: 5px;
            padding: 0;

            li {
                list-style: none;
                height: 1.75em;
            }
        }

        .pokemon-image {
            width: 48%;
            margin: 0;
            padding: 0.2rem;
            border-style: solid;
            border-width: 2px;
            border-radius: 5px;

            figcaption {
                width: 100%;
                text-align: center;
            }
        }

        .pokemon-stats-list {
            width: 48%;
            padding: 0;
            margin-left: 4%;

            .pokemon-stat-item {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                .inc { color: red }
                .dec { color: blue }
                .inc.dec { color: purple; }
            }
        }

        .pokmeon-moves-list {
            width: 100%;
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            border: black 0.5px solid;
            border-radius: 5px;
            margin-top: .5em;

            li {
                list-style: none;
                width: 50%;
                text-align: center;
                border: black 0.5px solid;

                tool-tip {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .pokemon-move-info {
            display: flex;
            flex-flow: row wrap;
            max-width: 150px;

            > span {
                width: 50%;
            }

            > div {
                width: 70%;
                display: flex;
                justify-content: space-between;
                margin: 0 15%;
            }

            > p {
                margin: 0;
            }

            figure {
                display: flex;
                height: 3ch;
                width: 50%;
                margin: 0;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }

        .pokmeon-optional-list {
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
            border: 2px black solid;
            border-radius: 5px;
            margin-top: .5em;
            padding: 0.2rem;

            li {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;

                .pokemon-optional-name {
                    flex-grow: 1;
                }
            }
        }

        .gigantamax {
            text-align: center;
            font-weight: bold;
            display: block;
        }
    }
}

.pokemon-game-view, game-input {
    width: 100%;

    .detail-summary {
        font-weight: normal;
        width: auto;
        background-color: $accent-dark;
        color: $white;
        display: inline-block;
        padding: 5px;
        margin: 2px;

        &:hover, &:focus {
            background-color: $accent-light;
            color: $dark;
        }
    }

    .detail-toggle {
        display: none;

        &:checked + .pokemon-view {
            height: auto;
        }
    }
}

@mixin pokemon-nav-base() {
    text-decoration: none;
    border-radius: 0;
    margin: 0;
    padding: 5px;
    border: none;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.pokemon-game-select {
    padding: 0;
    width: 100%;
    text-align: center;

    > ul {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        margin: 0;
        padding: 0;
        width: 100%;
        gap: 2px;
        padding: 2px;
        background-color: $dark;

        li {
            list-style: none;
            min-width: 200px;
            max-width: 200px;
        }

        > li {
            flex: 1 1 0;
            max-width: 300px;

            .sub-menu-container {
                width: 200px;
                margin: 0 auto;
                display: none;
            }

            ul {
                position: absolute;
                background-color: $dark;
                gap: 2px;
                padding: 2px;
            }

            &:hover > .sub-menu-container,
            &:focus-within > .sub-menu-container{
                display: flex;
                flex-flow: column nowrap;
            }
        }
    }

    .pokemon-nav-item {
        &, &:visited, &:link {
            @include pokemon-nav-base;
            background-color: $accent-dark;
            color: $white;
        }

        &:hover, &:link {
            background-color: $accent-light;
            color: $dark;
        }
    }

    .pokemon-nav-header {
        &, &:visited, &:link {
            @include pokemon-nav-base;
            background-color: $accent-dark;
            color: $white;
            font-weight: bold;
            font-size: 1.2em;
        }

        &:hover, &:link {
            background-color: $accent-light;
            color: $dark;
        }
    }
}

#pokemon-about {
    padding: .1em 1em;
}
