<h1>Welcome!</h1>
<div id="home-container">
        <p>
            Welcome to my Website.  My name is Alex and I am currently enrolled in the
            <a href="https://uwex.wisconsin.edu/applied-computing" target="_blank">Applied Computing Program</a> through the UW extended campus.
        </p>
    <article>
        <h2>Project Spotlight:</h2>
        <div id="spotlight">
            {{ include("home/spotlight.html") }}
        </div>
    </article>

    <article>
        <p>
            My website is still under construction, and I will be continually working on it over the summer.
        </p>
    </article>
</div>