<h1>Welcome!</h1>
<div id="home-container">
        <p>
            Welcome to my Website.  My name is Alex and I am currently enrolled in the
            <a href="https://uwex.wisconsin.edu/applied-computing/#overview" target="_blank">Applied Computing Program</a> through the UW extended campus.
        </p>
    <article>
        <h2>Project Spotlight:</h2>
        <div id="spotlight">
            {{ include("home/spotlight.html") }}
        </div>
    </article>

    <article>
        <p>
            My website is still under construction, and I will be continually working on it over the summer.
        </p>
    </article>

    <article>
        <h2>Scroll Testing...</h2>
        <p>
            Varius vel pharetra vel turpis nunc eget lorem dolor sed. Auctor elit sed vulputate mi. Euismod in pellentesque massa placerat duis ultricies lacus. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. In metus vulputate eu scelerisque felis imperdiet. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. Gravida cum sociis natoque penatibus et magnis dis parturient. Vitae congue eu consequat ac felis donec et odio. Faucibus et molestie ac feugiat sed. Bibendum enim facilisis gravida neque convallis a cras. Blandit massa enim nec dui nunc. Nunc sed blandit libero volutpat sed cras ornare. Odio tempor orci dapibus ultrices. In cursus turpis massa tincidunt dui ut ornare lectus. Auctor eu augue ut lectus arcu bibendum. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida.
        </p>
    </article>
</div>