{%
    if(typeof bad === "undefined")
        console.log("It works!");
%}
<h1>Resume</h1>
<aside>
    <p>
        This page is an attempt at showing of the render engine.
    </p>
</aside>
<article>
    <h3>Job History</h3>
    <section>
        {% for(let j of jobs){ %}
            {{ include("resume/job.html", j) }}
        {% } %}
    </section>
</article>
<article>
    <h3>School History</h3>
    <section>
        {{ forEach(schools, s=>include("resume/school.html", s)) }}
    </section>
</article>