<h1>Resume</h1>
<aside>
    <p>
        This page is an attempt at showing of the render engine.
    </p>
</aside>
<article>
    <h2>Job History:</h2>
    <section>
        {% for(let j of jobs){ %}
            {{ include("resume/job.html", j) }}
        {% } %}
    </section>
</article>
<article>
    <h2>School History:</h2>
    <section>
        {{ forEach(schools, s=>include("resume/school.html", s)) }}
    </section>
</article>
<article>
    <h2>Skills:</h2>
    <ul>
    {{ forEach(skills, undefined, ()=>"<li>Alex doesn't have any skills!</li>") }}
    </ul>
</article>