{%
    if(typeof list === "undefined")
        list = [];

    if(typeof info === "undefined")
        info = new Map();
%}
<h1>{{ name }}</h1>
<article class="resume-detailed">
    <div class="resume-about">
        <ol>
            {% echo forEach(list, (item, index) => {
                let title = `<h2>${Number(index)+1}: ${item}</h2>`;
                let about =  info[item];
                if(typeof about !== "undefined") {
                    if(Array.isArray(about))
                        about = about.join("<br/>");

                    about = `<p>${about}</p>`
                } else {
                    about = "";
                }

                return `<li>${title}${about}</li>`;
            }, "<li>Empty Results</li>");
            %} 
        </ol>
    </div>
</article>