<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include("templates/header.ejs", {title: 'Alex Malotky - Admin'}) %>
    <link rel="stylesheet" href="/stylesheets/admin.min.css" />
    <body>
        <%- include("templates/navbar.ejs") %>
        <main id="main">
            <h1>Admin Page</h1>
            <ul id="admin-nav">
                <li><a href="#" class-"nav-item">Test 1</a></li>
                <li><a href="#" class-"nav-item">Test 2</a></li>
                <li><a href="#" class-"nav-item">Test 3</a></li>
            </ul>
        </main>
    </body>
</html>
