{%
    if(typeof commanders === "undefined")
        commanders = [];

    if(typeof main_deck === "undefined")
        main_deck = {};

    if(typeof description === "undefined")
        description = "";

    if(typeof name === "undefined")
        name = "";

    let commanderHeader = "Commander:";
    if(commanders.length > 2)
        commanderHeader = "Commanders:"
%}
<aside id="deckHeader">
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>
</aside>
<article>
    <section id="commanders" class="category">
        <h2>{{commanderHeader }}</h2>
        <ul>
            {{ forEach(commanders, c=>include("mtg/card.html", c)) }}
        </ul>
    </section>
    {% for(let category in main_deck){ %}
        <section class="category">
            <h2>{{ category }}</h2>
            <ul>
                {{ forEach(main_deck[category], c=>include("mtg/card.html", c)) }}
            </ul>
        </section>
    {% } %}
</article>