<h3>Phasmophobia Helper</h3>
<figure>
    <img src="/media/Phasmo-Screenshot.png" alt="Screenshot" />
</figure>
<section>
    <p>
        It is currently hosted on firebase at
        <a href="https://phasmophobiahelper.web.app/">phasmophobia.web.app</a>.
    </p>
    <p>
        This project came about while playing the game 
        <a href="https://store.steampowered.com/app/739630/Phasmophobia/">Phasmophobia</a>
        with my brother.  Phasmophobia is a game where you have to figure out the type of ghost haunting a house by
        gathering evidence left by the ghost. We were playing in a special mode where some of the evidence that a ghost has 
        will not present, so ruling out ghosts becomes more complicated.  We wanted to be able to cross of evidence that we didn't find 
        but not necisarly cross off ghosts that have those evidence. 
    </p>
    <p>
        This project focused on manipulting a web page using javascript to make the lists of evidence and ghosts easy to understand.
    </p>
</section>